name: HIL Test Workflow

on:
  push:
    branches:
      - main

jobs:
  run-hil-test:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup CMake
      run:  cmake --version

    - name: Build project
      run: |
        mkdir build
        cd build
        cmake ..
        make

    - name: Run HIL test
      run: |
        ./build/hil-test
