name: Test Self-Hosted Runner

on:
  push:

jobs:
  test:
    runs-on:
      - self-hosted
      - ARM64
      - Linux

    steps:
      - name: Test Runner
        run: echo "Self-hosted runner is working!"
